.actions-container, .summary-list {
    display: flex;
    justify-content: space-between;    
    flex-flow: row wrap;
    margin-bottom: 20px;
}

.list {
    margin: 5% 10%;
}

input {
    padding: 0.6rem;
    border: 1px solid #a5a8ad;
    border-radius: 0.6rem;
}

.add {
    background-color: #F9DE4B;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
}

.list-container {
    background-color: #fff;
    border-radius: 1px;
    padding: 1rem;
    overflow-x:auto;
}

.products-table {
    border-collapse: collapse;
    font-family: sans-serif;
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
}

.products-table th,
.products-table td {
    padding: 12px 15px;
}

.products-table tr {
    border-bottom: 1px solid #dddddd;
}

.products-table thead {
    background-color: #F9FAFC;
    font-weight: bold;
}

.summary-list {
    margin-top: 15px;
}

select {
    padding: 2px 10px;
    border-radius: 5px;
}

#menu-icon {
    width: 1.5rem;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F9DE4B;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#product-logo {
    width: 2rem;
}

@media only screen and (max-width: 500px) {
    input, button {
        width: 100%;
        margin: 5px 0;
    }
}