.product-actions {
  display: flex;
  justify-content: space-between;    
  flex-flow: row wrap;
  margin-bottom: 20px;

  &__search {
    padding: 0.6rem;
    border: 1px solid #a5a8ad;
    border-radius: 0.6rem;
  }

  &__create {
    background-color: #F9DE4B;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
  }
}