<section class="detail">
    <h2>Formulario de Registro</h2>
    <form class="product-form">
        <div class="form-input">
            <label for="id">ID</label>
            <input type="text" placeholder="ID" id="id">
        </div>
        <div class="form-input">
            <label for="name">Nombre</label>
            <input type="text" placeholder="Tarjeta Crédito" id="name">
        </div>
        <div class="form-input">
            <label for="description">Descripción</label>
            <input type="text" placeholder="Descripción" id="description">
        </div>
        <div class="form-input">
            <label for="logo">Logo</label>
            <input type="text" placeholder="Logo" id="logo">
        </div>
        <div class="form-input">
            <label for="releaseDate">Fecha Liberación</label>
            <input type="date" placeholder="Fecha liberación" id="releaseDate">
        </div>
        <div class="form-input">
            <label for="reviewDate">Fecha Revisión</label>
            <input type="date" placeholder="Fecha de revisión" id="reviewDate">
        </div>
        <div class="actions-container">
            <button class="restart-button">Reiniciar</button>
            <button class="send-button">Enviar</button>
        </div>
    </form>

</section>