<section class="detail">
    <h2>Formulario de Registro</h2>
    <form class="product-form" [formGroup]="form">
        <div class="form-input">
            <label for="id">ID</label>
            <input 
                placeholder="ID" 
                id="id" 
                formControlName="id" 
                [class.valid]="form.get('id')?.valid && form.get('id')?.touched"
                [class.invalid]="form.get('id')?.invalid && form.get('id')?.touched">
            <span class="input-error">{{ checkForErrorsIn('id') }}</span>
        </div>

        <div class="form-input">
            <label for="name">Nombre</label>
            <input 
                placeholder="Tarjeta Crédito" 
                id="name" 
                formControlName="name"
                [class.valid]="form.get('name')?.valid && form.get('name')?.touched"
                [class.invalid]="form.get('name')?.invalid && form.get('name')?.touched">
            <span class="input-error">{{ checkForErrorsIn('name') }}</span>
        </div>

        <div class="form-input">
            <label for="description">Descripción</label>
            <input 
                type="text" 
                placeholder="Descripción" 
                id="description" 
                formControlName="description"
                [class.valid]="form.get('description')?.valid && form.get('description')?.touched"
                [class.invalid]="form.get('description')?.invalid && form.get('description')?.touched">
            <span class="input-error">{{ checkForErrorsIn('description') }}</span>
        </div>

        <div class="form-input">
            <label for="logo">Logo</label>
            <input 
                type="url" 
                placeholder="Logo" 
                id="logo" 
                formControlName="logo"
                [class.valid]="form.get('logo')?.valid && form.get('logo')?.touched"
                [class.invalid]="form.get('logo')?.invalid && form.get('logo')?.touched">
            <span class="input-error">{{ checkForErrorsIn('logo') }}</span>
        </div>

        <div class="form-input">
            <label for="releaseDate">Fecha Liberación</label>
            <input 
                type="date" 
                placeholder="Fecha liberación" 
                id="releaseDate" 
                formControlName="date_release" 
                min="{{ todayDate | date:'yyyy-MM-dd'}}"
                [class.valid]="form.get('date_release')?.valid && form.get('date_release')?.touched"
                [class.invalid]="form.get('date_release')?.invalid && form.get('date_release')?.touched">
            <span class="input-error">{{ checkForErrorsIn('date_release') }}</span>
        </div>

        <div class="form-input">
            <label for="reviewDate">Fecha Revisión</label>
            <input type="date" placeholder="Fecha de revisión" id="reviewDate" formControlName="date_revision">
        </div>

    </form>    
    <div class="actions-container">
        <button class="restart-button" (click)="resetForm()">Reiniciar</button>
        <button class="send-button" (click)="saveFinancialProduct(form.getRawValue())" [disabled]="form.invalid">Enviar</button>
    </div>

</section>