<section class="product">
    <h2 class="product__title">Formulario de Registro</h2>
    <form class="product__form" [formGroup]="form">
        <div class="product__field">
            <label for="id" class="product__label">ID</label>
            <input 
                id="id" 
                placeholder="ID" 
                class="product__input"
                formControlName="id" 
                [class.product__input--invalid]="form.get('id')?.invalid && form.get('id')?.touched">
            <app-form-error-container [forControl]="form.get('id')">
                <app-form-error-message errorCode="required"></app-form-error-message>
                <app-form-error-message errorCode="idAlreadyExists"></app-form-error-message>
                <app-form-error-message errorCode="minlength" customMessage="El campo debe tener mínimo 3 caracteres"></app-form-error-message>
                <app-form-error-message errorCode="maxlength" customMessage="El campo debe tener máximo 10 caracteres"></app-form-error-message>
            </app-form-error-container>
        </div>

        <div class="product__field">
            <label for="name" class="product__label">Nombre</label>
            <input 
                placeholder="Tarjeta Crédito" 
                id="name" 
                class="product__input"
                formControlName="name"
                [class.product__input--invalid]="form.get('name')?.invalid && form.get('name')?.touched">
            <app-form-error-container [forControl]="form.get('name')">
                <app-form-error-message errorCode="required"></app-form-error-message>
                <app-form-error-message errorCode="minlength" customMessage="El campo debe tener mínimo 5 caracteres"></app-form-error-message>
                <app-form-error-message errorCode="maxlength" customMessage="El campo debe tener máximo 100 caracteres"></app-form-error-message>
            </app-form-error-container>
        </div>

        <div class="product__field">
            <label for="description" class="product__label">Descripción</label>
            <input 
                type="text" 
                placeholder="Descripción" 
                id="description" 
                class="product__input"
                formControlName="description"
                [class.product__input--invalid]="form.get('description')?.invalid && form.get('description')?.touched">
            <app-form-error-container [forControl]="form.get('description')">
                <app-form-error-message errorCode="required"></app-form-error-message>
                <app-form-error-message errorCode="minlength" customMessage="El campo debe tener mínimo 10 caracteres"></app-form-error-message>
                <app-form-error-message errorCode="maxlength" customMessage="El campo debe tener máximo 200 caracteres"></app-form-error-message>
            </app-form-error-container>
        </div>

        <div class="product__field">
            <label for="logo" class="product__label">Logo</label>
            <input 
                type="url" 
                placeholder="Logo" 
                id="logo" 
                class="product__input"
                formControlName="logo"
                [class.product__input--invalid]="form.get('logo')?.invalid && form.get('logo')?.touched">
            <app-form-error-container [forControl]="form.get('logo')">
                <app-form-error-message errorCode="required"></app-form-error-message>
            </app-form-error-container>
        </div>

        <div class="product__field">
            <label for="releaseDate" class="product__label">Fecha Liberación</label>
            <input 
                type="date" 
                placeholder="Fecha liberación" 
                id="releaseDate"
                class="product__input" 
                formControlName="date_release" 
                min="{{ todayDate | date:'yyyy-MM-dd'}}"
                [class.product__input--invalid]="form.get('date_release')?.invalid && form.get('date_release')?.touched">
            <app-form-error-container [forControl]="form.get('date_release')">
                <app-form-error-message errorCode="required"></app-form-error-message>
            </app-form-error-container>
        </div>

        <div class="product__field">
            <label for="reviewDate" class="product__label">Fecha Revisión</label>
            <input type="date" placeholder="Fecha de revisión" id="reviewDate" class="product__input" formControlName="date_revision">
        </div>

    </form>    
    <div class="product__actions">
        <button class="product__action product__action--restart" (click)="resetForm()">Reiniciar</button>
        <button class="product__action product__action--send" (click)="saveFinancialProduct(form.getRawValue())" [disabled]="form.invalid">Enviar</button>
    </div>

</section>