<section class="products">
  <app-products-actions 
    (search)="filterProducts($event)" 
    (create)="addFinancialProduct()"
  ></app-products-actions>
    
  <div class="products__list">
    <app-products-list 
      (openDeleteModal)="openConfirmModal($event)" 
      (selectPageSize)="pageSizeSelected($event)" 
      [financialProductsFiltered]="financialProductsFiltered"
    ></app-products-list>
  </div>
</section>

<app-modal 
  *ngIf="showConfirmModal" 
  content="¿Estás seguro de eliminar el producto {{ productToDelete.name }}?" 
  (modalClosed)="closeConfirmModal()"
  (modalConfirm)="confirmDelete()"
></app-modal>
